[submodule "themes/fixit-bundle"]
	path = themes/fixit-bundle
	url = https://github.com/hugo-fixit/fixit-bundle.git
[submodule "themes/shortcode-rewards"]
	path = themes/shortcode-rewards
	url = https://github.com/hugo-fixit/shortcode-rewards.git
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
[submodule "themes/cmpt-translate"]
	path = themes/cmpt-translate
	url = https://github.com/hugo-fixit/cmpt-translate.git
[submodule "themes/component-projects"]
	path = themes/component-projects
	url = https://github.com/hugo-fixit/component-projects.git
[submodule "themes/hugo-json-feed"]
	path = themes/hugo-json-feed
	url = https://github.com/hugo-fixit/hugo-json-feed.git
[submodule "themes/shortcode-mmt-netease"]
	path = themes/shortcode-mmt-netease
	url = https://github.com/hugo-fixit/shortcode-mmt-netease.git
[submodule "themes/cmpt-flyfish"]
	path = themes/cmpt-flyfish
	url = https://github.com/hugo-fixit/cmpt-flyfish.git
[submodule "themes/shortcode-caniuse"]
	path = themes/shortcode-caniuse
	url = https://github.com/hugo-fixit/shortcode-caniuse.git
[submodule "themes/hugo-atom-feed"]
	path = themes/hugo-atom-feed
	url = https://github.com/hugo-fixit/hugo-atom-feed.git
[submodule "themes/cmpt-mdevtools"]
	path = themes/cmpt-mdevtools
	url = https://github.com/hugo-fixit/cmpt-mdevtools.git
[submodule "themes/shortcode-asciinema"]
	path = themes/shortcode-asciinema
	url = https://github.com/hugo-fixit/shortcode-asciinema.git
[submodule "themes/shortcode-docs-bookmark"]
	path = themes/shortcode-docs-bookmark
	url = https://github.com/hugo-fixit/shortcode-docs-bookmark.git
[submodule "themes/shortcode-missing-translation"]
	path = themes/shortcode-missing-translation
	url = https://github.com/hugo-fixit/shortcode-missing-translation.git
[submodule "themes/shortcode-sponsor-log"]
	path = themes/shortcode-sponsor-log
	url = https://github.com/hugo-fixit/shortcode-sponsor-log.git
[submodule "themes/cmpt-santa-hat"]
	path = themes/cmpt-santa-hat
	url = https://github.com/hugo-fixit/cmpt-santa-hat.git
